extends base

block content
  div(class='flex flex-col gap-6 h-full w-3/5 py-5 px-10')
    if currentUser
      include _messageBox
    each message in messages 
      div(class='relative flex flex-col gap-2 bg-white px-6 py-4 text-stone-900/90 shadow-lg rounded-md')
        if currentUser && currentUser.admin
          button(class='bg-red-600/80 absolute top-2 right-2 px-2 py-1 font-semibold rounded-md text-white text-xs shadow-lg hover:bg-red-600 active:scale-95' onclick=`deleteMessage('${message.message_id}')`) 
            img(src="/icons/delete.svg", alt="" class='h-4')
        h2.text-2xl.font-extrabold.capitalize= message.title
        if currentUser && currentUser.membership_status === 'member'
          div(class='flex gap-2 text-sm text-amber-500/70')
            p=`message by ${message.username}`
            |-
            p= message.created_at.toLocaleString()
        p(class='text-stone-900/90')= message.message
          
      